:root {
  user-select: none; /* Disable Text Selecting */

  text-align: center; /* Align Text to Center */
  white-space: pre; /* Allow Multiple Lines in Text */

  font-family: terminal; /* Terminal Font */

  user-select: none; /* Disable Text Selecting */

  /* Fit Elements on Screen */
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 1.5rem;

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #000000;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@font-face { 
  font-family: "terminal";
  src: local("BigBlue TerminalPlus"), url('./assets/terminal.ttf');
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #f3f4f6;
    --bg: #000000;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;

  /* Size of Website Content */
  width: 840px;
}

p {
  font-family: "terminal";
  margin: 0;

  /* Make lines break on reaching end of width */
  white-space: pre-wrap;
}

code,
.counter {
  font-family: "terminal";
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

/* Objects */

.navButton {
  color: var(--text);
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  color: cornflowerblue;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: cornflowerblue;
  margin: 10px;
}

.skills {
  color: mediumseagreen;
  margin: 10px;
  padding: 5px 10px;
}

.optionBar {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: white;
  white-space: nowrap;
  font-family: "terminal";
  margin: auto;

  /* Color */
  border-bottom: 1px solid cyan;

  /* Spacing between Text */
  margin-left: 15px;

  /* Width */
  width: 80%;
}

/* Text */

.blue {
  color: aqua;
}

.darkblue {
  color: cornflowerblue;
}

.green {
  color: lime;
}

.darkgreen {
  color: seagreen;
}

/* Lists */
ul {
  display: inline-block; /* Center List */
  list-style: none; /* Hide List Bullets */

  text-align: left; /* Align Text to left */
}

ul.optionsList {
  color: cornflowerblue;

  /* Prevent Line Breaks */
  
  display: flex;
  justify-content: center;
}

li.optionsList {
  margin: auto;
}