@font-face { 
  font-family: "terminal";
  src: local("BigBlue TerminalPlus"), url('./assets/terminal.ttf');
}

:root {
  font-family: terminal; /* Terminal Font */
  user-select: none; /* Disable Text Selecting */

  --text: white;
  --text-h: white;
  --bg: black;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --text: white;
    --text-h: white;
    --bg: black;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  color: white;
  font-family: "terminal";
  margin: 0;
}

code,
.counter {
  font-family: "terminal";
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

/* Objects */

.navButton {
  padding: 1em;
  position: relative;
  text-align: center;
  color: cornflowerblue;
  word-wrap: break-word;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: cornflowerblue;
  margin: 10px;
}

.optionBar {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: white;
  white-space: nowrap;
  font-family: "terminal";
  margin: auto;

  /* Color */
  border-bottom: 1px solid cyan;

  /* Spacing between Text */
  margin-left: 15px;

  /* Width */
  width: 80%;
}

/* Images */

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Text */

p {
  color: white;
}

.blue {
  color: aqua;
}

.darkblue {
  color: cornflowerblue;
}

.green {
  color: lime;
}

.skillTitle {
  color: cornflowerblue;
}

.skills {
  margin: 10px;
  padding: 5px 10px;
}

.smaller {
  font-size: small;
  color: turquoise;
}

/* Lists */

ul {
  display: inline-block; /* Center List */
  list-style: none; /* Hide List Bullets */
}

ul.optionsList {
  color: cornflowerblue;

  word-wrap: break-word;
}

li.optionsList {
  margin: auto;
}